<!-- 2. Separate file that contain a single ons-page component as root -->
<ons-page id="page1">
    <ons-toolbar>
        <div class="center">What is a Page</div>
    </ons-toolbar>
    <ons-card>
        <div class="title">Onsen UI can be achieved by defining multiple ons-page components.</div>
        <ons-list>
            <ons-list-header>What is a Page</ons-list-header>
            <ons-list-item>In the application world, a page is commonly referred as a window or a page view. </ons-list-item>
            <ons-list-item>In Onsen UI, a page is a container that fully covers the viewport (usually a screen). </ons-list-item>
            <ons-list-item>In Onsen UI, a page can be defined by wrapping in ons-page component.</ons-list-item>
        </ons-list>
    </ons-card>
    <ons-button id="push-button">Push page</ons-button>
</ons-page>